<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TeachingAssistantV1.0</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>insertController</display-name>
    <servlet-name>insertController</servlet-name>
    <servlet-class>com.abc.controller.insertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertController</servlet-name>
    <url-pattern>/insert.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileController</display-name>
    <servlet-name>fileController</servlet-name>
    <servlet-class>com.abc.controller.fileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileController</servlet-name>
    <url-pattern>/papa.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerController</display-name>
    <servlet-name>registerController</servlet-name>
    <servlet-class>com.abc.controller.registerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerController</servlet-name>
    <url-pattern>/register.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forwardController</display-name>
    <servlet-name>forwardController</servlet-name>
    <servlet-class>com.abc.controller.forwardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forwardController</servlet-name>
    <url-pattern>/forward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>actionController</display-name>
    <servlet-name>actionController</servlet-name>
    <servlet-class>com.abc.controller.actionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionController</servlet-name>
    <url-pattern>/action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>subjectController</display-name>
    <servlet-name>subjectController</servlet-name>
    <servlet-class>com.abc.controller.subjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subjectController</servlet-name>
    <url-pattern>/subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>scheduleController</display-name>
    <servlet-name>scheduleController</servlet-name>
    <servlet-class>com.abc.controller.scheduleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scheduleController</servlet-name>
    <url-pattern>/schedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homeController</display-name>
    <servlet-name>homeController</servlet-name>
    <servlet-class>com.abc.controller.homeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeController</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
</web-app>